<mat-form-field class="se-form search-field" appearance="outline">
  <input matInput placeholder="Search">
  <mat-icon matPrefix style="color:black; margin-right:10px;">search</mat-icon>
</mat-form-field>
<div class="icon-btn">
  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" style="height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 40px;"> <br />
</div>
<div class="icon-btn">
  <mat-accordion>
    <mat-expansion-panel style="height:52px" [matMenuTriggerFor]="menu" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <span style="margin-right:5px;vertical-align: middle;">{{username}}</span>
      </mat-expansion-panel-header>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewAccountDetails()">Account Details</button>
        <ng-container>
          <button mat-menu-item (click)="resetPassword()">Change Password</button>
        </ng-container>
        <button mat-menu-item (click)="logout()">Edit Profile Picture</button>
      </mat-menu>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<div class="icon-btn">
  <button mat-icon-button class="text-font icon-btn" (click)="setting" matTooltip="help">
    <mat-icon style="vertical-align:middle;">help</mat-icon>
  </button>
</div>
<div class="icon-btn">
  <button mat-icon-button class="text-font icon-btn" (click)="setting" matTooltip="Notifications">
    <mat-icon style="vertical-align:middle;">notifications</mat-icon>
  </button>
</div>

<br>
<br><br>
<div class="card-div">
  <mat-card style="width: 27% !important;margin-left:15px;  background-color: #9fd99f12;">
    <mat-card-header>
      <mat-card-title class="text-font">To Do
        <div class="count-class">{{toDoCount}}</div>
      </mat-card-title>
    </mat-card-header>
    <button mat-button class="text-font card-button" (click)="todoCard()" matTooltip="Add a Task">
      <mat-icon style="vertical-align:middle; color: #227361d6;">add</mat-icon>
    </button>
    <mat-card-content>
      <div *ngFor="let data of objectArray">
        <mat-card>
          <mat-card-header>
            <li style="color:red;margin-left: -20px;">
              <mat-card-title class="text-font">{{data.title}}</mat-card-title>
            </li>
          </mat-card-header>
          <mat-card-content>
            <p class="text-font" style="color: gray;">
              {{data.description}}
            </p>
            <br>
            <img src='{{data.image}}' class="cover-image">
          </mat-card-content>
        </mat-card>
        <br> <br>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="width: 27% !important;margin-left:15px; background-color: #9fd99f12;">
    <mat-card-header>
      <mat-card-title class="text-font">In Progress
      <div class="count-class">{{InprogressCount}}</div></mat-card-title>
    </mat-card-header>
    <button mat-button class="text-font card-button" (click)="inProgressCard()" matTooltip="Add a Task">
      <mat-icon style="vertical-align:middle; color:#227361d6">add</mat-icon>
    </button>
    <mat-card-content>
      <div *ngFor="let inProgressData of InprogressArray">
        <mat-card>
          <mat-card-header>
            <li style="color:orange;margin-left: -20px;">
              <mat-card-title class="text-font">{{inProgressData.title}}</mat-card-title>
            </li>
          </mat-card-header>
          <mat-card-content>
            <p class="text-font" style="color: gray;">
              {{inProgressData.description}}
            </p>
            <br><img src='{{inProgressData.image}}' class="cover-image">
          </mat-card-content>
        </mat-card>
        <br> <br>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="width: 27% !important;margin-left:15px; background-color: #9fd99f12;">
    <mat-card-header>
      <mat-card-title class="text-font">Completed
      <div class="count-class">{{CompletedCount}}</div></mat-card-title>
    </mat-card-header>
    <button mat-button class="text-font card-button" matTooltip="Add a Task">
      <mat-icon style="vertical-align:middle;color: #227361d6;">add</mat-icon>
    </button>
    <mat-card-content>
      <div *ngFor="let completed of completedArray">
        <mat-card>
          <mat-card-header>
            <li style="color:green; margin-left:-20px;">
              <mat-card-title class="text-font">{{completed.title}}</mat-card-title>
            </li>
          </mat-card-header>
          <mat-card-content>
            <p class="text-font" style="color: gray;">
              {{completed.description}}
            </p>
            <br>
            <img src='{{completed.image}}' class="cover-image">
          </mat-card-content>
        </mat-card><br><br>
      </div>
    </mat-card-content>
  </mat-card>
</div>