/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-area{
    min-height: 40%;
    max-height: 85%;
    min-width: 50%;
    max-width: 60%;
    overflow-y: auto;
    overflow-x: auto;  
}